.introduction {
  display: flex;
  flex-direction: column;

  .container {
    margin-top: 60px;

    .title {
      font-size: 34px;
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: 19px;
    }

    p {
      font-size: 16px;
      text-align: justify;
      line-height: 22px;
      color: $primaryColor;
    }

    .image__container {
      width: 195px;
      height: 195px;
      float: right;
      margin: 0 0 25px 23px;
      position: relative;

      &::after {

        content: "";
        display: block;
        padding-bottom: 100%;

      }

      img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    li {
      margin-left: 20px;
      padding-left: 10px;
      margin-bottom: 16px;

      strong {
        font-weight: 700;
      }
    }

    li:first-of-type {
      margin-top: 16px;
    }

    .more {
      margin: 14px 0 15px;
      text-align: right;
    }

    a {
      margin-top: 14px;
      margin-bottom: 15px;
      color: $anchorColor;
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: $lSize) {
  .introduction {
    flex-direction: row;
    gap: 30px;

    .container {
      flex: 1;

      .image__container {
        width: 50%;
        aspect-ratio: 1;
        display: inline-block;
      }
    }
  }
}