.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    margin-top: 60px;
    max-width: 525px;

    .title {
      font-size: 34px;
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: 19px;
    }

    p {
      font-size: 16px;
      text-align: justify;
      line-height: 22px;
      color: $primaryColor;
    }

    img {
      width: 195px;
      height: auto;
      float: right;
      margin: 0 0 25px 23px;
    }

    li {
      margin-left: 20px;
      padding-left: 10px;
      margin-bottom: 16px;

      strong {
        font-weight: 700;
      }
    }

    li:first-of-type {
      margin-top: 16px;
    }

    .more {
      margin: 14px 0 15px;
      text-align: right;
    }

    a {
      margin-top: 14px;
      margin-bottom: 15px;
      color: $anchorColor;
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: $lSize) {
  .introduction {
    flex-direction: row;

    .introduction:first-child {
      margin-right: 30px;
    }

    .container {
      flex: 1;
      max-width: 9999px;

      img {
        width: 45%;
        max-width: 260px;
      }
    }
  }
}

@supports (gap: 30px) {
  .introduction {
    gap: 30px;
  }

  .introduction:first-child {
    margin-right: 0px;
  }
}