.hero {
  width: 100%;
  height: 580px;
  position: relative;

  .slider {
    background-position: center;
    background-size: cover;
    background-color: gray;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .slider1 {
    animation: fade1 40s infinite;
  }

  .slider2 {
    animation: fade2 40s infinite;
  }

  .slider3 {
    animation: fade3 40s infinite;
  }

  .title {
    padding-top: 243px;
    color: $white;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 9px;
  }

  .desc {
    font-size: 24px;
    color: $white;
    font-weight: 400;
    margin-bottom: 26px;
    max-width: 545px;

    a {
      display: inline-block;
      color: $anchorColor;
      text-decoration: underline;
    }

  }

  .page__container {
    display: flex;
    margin-right: 18px;


    .page__button {
      width: 12px;
      height: 12px;
      background-color: $white;
    }

    .active {
      transform: scale(1.34);
      background-color: $anchorColor;
    }
  }

  @media screen and (min-width: $mSize) {
    .title {
      padding-top: 300px;
    }
  }

}

@keyframes fade1 {
  0% {
    opacity: 1;
  }

  28% {
    opacity: 1;
  }

  33% {
    opacity: 0;
  }

  95% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade2 {
  0% {
    opacity: 0;
  }

  28% {
    opacity: 0;
  }

  33% {
    opacity: 1;
  }

  61% {
    opacity: 1;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade3 {
  0% {
    opacity: 0;
  }

  61% {
    opacity: 0;
  }

  66% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@supports (gap: 18px) {
  .page__container {
    gap: 18px;
    margin-right: 0px;
  }
}